body{
    color:white;
    background: black;
    font-family: sans-serif;
}
#añañin{
    
    backdrop-filter: opacity(20%);
    backdrop-filter: blur(4px);
    margin:auto;
    width: 500px;
    height: 1000px;

}

a{
    color:#2828EF;
    text-decoration: none;
}
img{
    width:100px
}
a img{
    width:20px
}
h3 {
    margin-top: 30px;
}

canvas{
    display:block;
    margin:auto;
}