body{
    color:blue;
    background: black;
    font-family: sans-serif;
    text-align: center;
    
    
    
}

a{
    color:yellow;
    text-decoration: none;
}

h3 {
    margin-top: 30px;
}

canvas{
    display:block;
    margin:auto;
}